
<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width,initial-scale=1")
    link(rel="stylesheet" href="./css/style.css")
    title Document

  body
    .main
      ul.list
        li.list_item
          a.list_item_link.email_link(href="#")
            img(src="img/email.svg" alt="email")
        li.list_item
          a.list_item_link.lock_link(href="#")
            img(src="img/lock.svg" alt="email")
        li.list_item
          a.list_item_link.human_link(href="#")
            img(src="img/human.svg" alt="email")
    script(type="text/javascript" src="js/script.min.js")

